In [1]:
import pandas as pd
import sqlite3 
from tabulate import tabulate

# Importing Datasets

In [2]:
def print_r(cursor):
    column_names = [desc[0] for desc in cursor.description]
    rows = cursor.fetchall()
    print(tabulate(rows, headers=column_names, tablefmt="pretty"))

In [3]:
df_gs = pd.read_csv("goalscorers.csv")
df_r = pd.read_csv("results.csv")
df_s = pd.read_csv("shootouts.csv")

conn = sqlite3.connect("sports_data.db")

# Maintaining index=False
df_gs.to_sql("goalscorers", conn, if_exists="replace", index=False)
df_r.to_sql("results", conn, if_exists="replace", index=False)
df_s.to_sql("shootouts", conn, if_exists="replace", index=False)

crsr = conn.cursor()

## Goalscorers

In [4]:
crsr.execute("""
    SELECT *
    FROM goalscorers 
    LIMIT 5;
""")

print_r(crsr)

+------------+-----------+-----------+-----------+------------------+--------+----------+---------+
|    date    | home_team | away_team |   team    |      scorer      | minute | own_goal | penalty |
+------------+-----------+-----------+-----------+------------------+--------+----------+---------+
| 1916-07-02 |   Chile   |  Uruguay  |  Uruguay  | José Piendibene  |  44.0  |    0     |    0    |
| 1916-07-02 |   Chile   |  Uruguay  |  Uruguay  | Isabelino Gradín |  55.0  |    0     |    0    |
| 1916-07-02 |   Chile   |  Uruguay  |  Uruguay  | Isabelino Gradín |  70.0  |    0     |    0    |
| 1916-07-02 |   Chile   |  Uruguay  |  Uruguay  | José Piendibene  |  75.0  |    0     |    0    |
| 1916-07-06 | Argentina |   Chile   | Argentina |  Alberto Ohaco   |  2.0   |    0     |    0    |
+------------+-----------+-----------+-----------+------------------+--------+----------+---------+

In [5]:
crsr.execute("PRAGMA table_info(goalscorers);")
table_info = crsr.fetchall()

for column in table_info:
    print(column)

(0, 'date', 'TEXT', 0, None, 0)
(1, 'home_team', 'TEXT', 0, None, 0)
(2, 'away_team', 'TEXT', 0, None, 0)
(3, 'team', 'TEXT', 0, None, 0)
(4, 'scorer', 'TEXT', 0, None, 0)
(5, 'minute', 'REAL', 0, None, 0)
(6, 'own_goal', 'INTEGER', 0, None, 0)
(7, 'penalty', 'INTEGER', 0, None, 0)

## Results

In [6]:
crsr.execute("""
    SELECT *
    FROM results 
    LIMIT 5;
""")

print_r(crsr)

+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+
|    date    | home_team | away_team | home_score | away_score | tournament |  city   | country  | neutral |
+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+
| 1872-11-30 | Scotland  |  England  |     0      |     0      |  Friendly  | Glasgow | Scotland |    0    |
| 1873-03-08 |  England  | Scotland  |     4      |     2      |  Friendly  | London  | England  |    0    |
| 1874-03-07 | Scotland  |  England  |     2      |     1      |  Friendly  | Glasgow | Scotland |    0    |
| 1875-03-06 |  England  | Scotland  |     2      |     2      |  Friendly  | London  | England  |    0    |
| 1876-03-04 | Scotland  |  England  |     3      |     0      |  Friendly  | Glasgow | Scotland |    0    |
+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+

In [7]:
crsr.execute("PRAGMA table_info(results);")
table_info = crsr.fetchall()

for column in table_info:
    print(column)

(0, 'date', 'TEXT', 0, None, 0)
(1, 'home_team', 'TEXT', 0, None, 0)
(2, 'away_team', 'TEXT', 0, None, 0)
(3, 'home_score', 'INTEGER', 0, None, 0)
(4, 'away_score', 'INTEGER', 0, None, 0)
(5, 'tournament', 'TEXT', 0, None, 0)
(6, 'city', 'TEXT', 0, None, 0)
(7, 'country', 'TEXT', 0, None, 0)
(8, 'neutral', 'INTEGER', 0, None, 0)

## Shootouts

In [8]:
crsr.execute("""
    SELECT *
    FROM shootouts
    LIMIT 5;
""")

print_r(crsr)

+------------+-------------+------------------+-------------+---------------+
|    date    |  home_team  |    away_team     |   winner    | first_shooter |
+------------+-------------+------------------+-------------+---------------+
| 1967-08-22 |    India    |      Taiwan      |   Taiwan    |               |
| 1971-11-14 | South Korea | Vietnam Republic | South Korea |               |
| 1972-05-07 | South Korea |       Iraq       |    Iraq     |               |
| 1972-05-17 |  Thailand   |   South Korea    | South Korea |               |
| 1972-05-19 |  Thailand   |     Cambodia     |  Thailand   |               |
+------------+-------------+------------------+-------------+---------------+

In [9]:
crsr.execute("PRAGMA table_info(shootouts);")
table_info = crsr.fetchall()

for column in table_info:
    print(column)

(0, 'date', 'TEXT', 0, None, 0)
(1, 'home_team', 'TEXT', 0, None, 0)
(2, 'away_team', 'TEXT', 0, None, 0)
(3, 'winner', 'TEXT', 0, None, 0)
(4, 'first_shooter', 'TEXT', 0, None, 0)

# Objectives:

In [10]:
"""
Question 1: 
Create a query that calculates the average number of goals per game 
between 1900 and 2000.
"""

crsr.execute("""
    SELECT AVG(home_score + away_score)
    FROM results
    WHERE date >= '1900-01-01' AND date <= '2000-12-31';
""")
avg_goals = crsr.fetchone()[0]
print(f"Average goals per game between 1900 and 2000: {round(avg_goals, 2)}")

Average goals per game between 1900 and 2000: 3.07

In [11]:
"""
Question 2:
Create a query that counts the number of shootouts wins by country 
and arrange in alphabetical order.
"""

crsr.execute("""
    SELECT winner, COUNT(*) as 'Number of Wins'
    FROM shootouts
    GROUP BY winner
    ORDER BY winner ASC;
""")
print_r(crsr)

+--------------------------+----------------+
|          winner          | Number of Wins |
+--------------------------+----------------+
|         Abkhazia         |       2        |
|         Algeria          |       7        |
|          Angola          |       7        |
|   Antigua and Barbuda    |       2        |
|        Argentina         |       14       |
|          Aruba           |       1        |
|        Australia         |       5        |
|         Bahrain          |       3        |
|        Bangladesh        |       1        |
|         Barbados         |       1        |
|      Basque Country      |       1        |
|         Belarus          |       1        |
|         Belgium          |       2        |
|          Benin           |       3        |
|         Bolivia          |       1        |
|  Bosnia and Herzegovina  |       1        |
|         Botswana         |       8        |
|          Brazil          |       9        |
|  British Virgin Islands  |       1        |
|         Bulgaria         |       1        |
|       Burkina Faso       |       6        |
|         Cameroon         |       9        |
|          Canada          |       2        |
|        Cape Verde        |       1        |
| Central African Republic |       1        |
|           Chad           |       3        |
|          Chile           |       5        |
|         China PR         |       4        |
|         Colombia         |       7        |
|        Costa Rica        |       2        |
|      County of Nice      |       1        |
|         Croatia          |       6        |
|           Cuba           |       1        |
|          Cyprus          |       2        |
|      Czech Republic      |       1        |
|      Czechoslovakia      |       3        |
|         DR Congo         |       4        |
|         Denmark          |       2        |
|         Ecuador          |       2        |
|          Egypt           |       13       |
|       Ellan Vannin       |       2        |
|         England          |       3        |
|    Equatorial Guinea     |       1        |
|         Eswatini         |       5        |
|         Ethiopia         |       7        |
|           Fiji           |       1        |
|         Finland          |       2        |
|          France          |       4        |
|          Gabon           |       4        |
|          Gambia          |       3        |
|         Germany          |       6        |
|          Ghana           |       5        |
|        Greenland         |       2        |
|        Guadeloupe        |       2        |
|        Guatemala         |       3        |
|         Guernsey         |       1        |
|          Guinea          |       8        |
|          Guyana          |       1        |
|          Haiti           |       1        |
|         Honduras         |       4        |
|        Hong Kong         |       1        |
|         Hungary          |       1        |
|         Iceland          |       2        |
|          India           |       3        |
|        Indonesia         |       4        |
|           Iran           |       7        |
|           Iraq           |       11       |
|     Iraqi Kurdistan      |       1        |
|          Israel          |       1        |
|          Italy           |       7        |
|       Ivory Coast        |       8        |
|         Jamaica          |       1        |
|          Japan           |       5        |
|         Kabylia          |       1        |
|        Kazakhstan        |       3        |
|          Kenya           |       10       |
|          Kuwait          |       2        |
|        Kárpátalja        |       2        |
|          Latvia          |       4        |
|         Lesotho          |       6        |
|          Libya           |       1        |
|        Madagascar        |       2        |
|          Malawi          |       3        |
|         Malaysia         |       3        |
|           Mali           |       7        |
|        Martinique        |       5        |
|        Mauritius         |       2        |
|         Menorca          |       1        |
|          Mexico          |       7        |
|         Morocco          |       5        |
|        Mozambique        |       6        |
|         Myanmar          |       1        |
|         Namibia          |       4        |
|       Netherlands        |       2        |
|      New Caledonia       |       1        |
|       New Zealand        |       1        |
|          Niger           |       1        |
|         Nigeria          |       8        |
|       North Korea        |       3        |
|     Northern Cyprus      |       2        |
|     Northern Ireland     |       1        |
|           Oman           |       3        |
|         Padania          |       6        |
|          Panama          |       5        |
|          Panjab          |       1        |
|         Paraguay         |       6        |
|           Peru           |       2        |
|          Poland          |       2        |
|         Portugal         |       3        |
|       Puerto Rico        |       1        |
|          Qatar           |       4        |
|          Raetia          |       1        |
|   Republic of Ireland    |       1        |
|         Romania          |       1        |
|          Russia          |       2        |
|          Rwanda          |       2        |
|  Saint Kitts and Nevis   |       2        |
|       Saint Lucia        |       1        |
|       Saudi Arabia       |       5        |
|         Scotland         |       2        |
|         Senegal          |       9        |
|          Serbia          |       1        |
|        Seychelles        |       2        |
|       Sierra Leone       |       2        |
|        Singapore         |       1        |
|         Slovakia         |       2        |
|         Slovenia         |       1        |
|     Solomon Islands      |       1        |
|       South Africa       |       11       |
|       South Korea        |       13       |
|      South Ossetia       |       2        |
|          Spain           |       7        |
|        Sri Lanka         |       1        |
|          Sudan           |       1        |
|         Suriname         |       2        |
|          Sweden          |       4        |
|       Switzerland        |       2        |
|          Syria           |       4        |
|          Sápmi           |       1        |
|          Taiwan          |       1        |
|        Tajikistan        |       1        |
|         Tanzania         |       4        |
|         Thailand         |       10       |
|           Togo           |       3        |
|   Trinidad and Tobago    |       2        |
|         Tunisia          |       6        |
|          Turkey          |       1        |
|          Uganda          |       7        |
|         Ukraine          |       3        |
|   United Arab Emirates   |       4        |
| United Koreans in Japan  |       2        |
|      United States       |       5        |
|         Uruguay          |       7        |
|         Vietnam          |       2        |
|     Vietnam Republic     |       1        |
|     Western Armenia      |       2        |
|      Western Isles       |       1        |
|         Ynys Môn         |       1        |
|          Zambia          |       13       |
|         Zanzibar         |       2        |
|         Zimbabwe         |       7        |
|          Åland           |       1        |
|      Åland Islands       |       2        |
+--------------------------+----------------+

In [12]:
# Identifying duplicates before I add the key
crsr.execute("""
    SELECT date, home_team, away_team, COUNT(*)
    FROM results
    GROUP BY date, home_team, away_team
    HAVING COUNT(*) > 1;
""")
print_r(crsr)

+------------+-----------+---------------+----------+
|    date    | home_team |   away_team   | COUNT(*) |
+------------+-----------+---------------+----------+
| 1974-02-17 |  Tahiti   | New Caledonia |    2     |
| 1977-10-22 |  Guyana   |   Barbados    |    2     |
+------------+-----------+---------------+----------+

In [13]:
crsr.execute("""
    DELETE FROM results 
    WHERE rowid NOT IN (
        SELECT MIN(rowid)
        FROM results
        GROUP BY date, home_team, away_team
    );
""")

In [14]:
"""
1. Add a key to results according to date, home-team and away-team
2. Populate to goalscorers and shootouts as a foreign key
"""

# Recreate results with (date, home_team, away_team) key
crsr.execute("""
    DROP TABLE new_results
""")

crsr.execute("""
    CREATE TABLE new_results (
        match_id INTEGER PRIMARY KEY AUTOINCREMENT,
        date TEXT NOT NULL, 
        home_team TEXT NOT NULL, 
        away_team TEXT NOT NULL, 
        home_score INTEGER, 
        away_score INTEGER, 
        tournament TEXT, 
        city TEXT, 
        country TEXT,
        neutral INTEGER
    );
""")

crsr.execute("""
    INSERT INTO new_results (date, home_team, away_team, home_score, away_score, tournament, city, country, neutral)
    SELECT * 
    FROM results;
""")

crsr.execute("""
    DROP TABLE results; 
""")

crsr.execute("""
    ALTER TABLE new_results RENAME to results;
""")


# Recreate goalscorers and shootouts with new foreign key
crsr.execute("""
    CREATE TABLE new_goalscorers (
        match_id INTEGER NOT NULL,
        team TEXT, 
        scorer TEXT,  
        minute REAL, 
        own_goal INTEGER, 
        penalty INTEGER,
        FOREIGN KEY (match_id) REFERENCES results (match_id)
    );
""")

crsr.execute("""
    INSERT INTO new_goalscorers (match_id, team, scorer, minute, own_goal, penalty)
    SELECT
        r.match_id, 
        g.team, 
        g.scorer, 
        g.minute, 
        g.own_goal,
        g.penalty
    FROM goalscorers g
    JOIN results r
    ON g.date = r.date AND g.home_team = r.home_team AND g.away_team = r.away_team
""")

crsr.execute("""
    DROP TABLE goalscorers; 
""")

crsr.execute("""
    ALTER TABLE new_goalscorers RENAME to goalscorers;
""")


crsr.execute("""
    CREATE TABLE new_shootouts (
        match_id INTEGER NOT NULL, 
        winner TEXT, 
        first_shooter TEXT,
        FOREIGN KEY (match_id) REFERENCES results (match_id)
    );
""")

crsr.execute("""
    INSERT INTO new_shootouts (match_id, winner, first_shooter)
    SELECT 
        r.match_id,
        s.winner, 
        s.first_shooter 
    FROM shootouts s
    JOIN results r 
    ON s.date = r.date AND s.home_team = r.home_team AND s.away_team = r.away_team;
""")

crsr.execute("""
    DROP TABLE shootouts; 
""")

crsr.execute("""
    ALTER TABLE new_shootouts RENAME to shootouts;
""")

In [15]:
crsr.execute("""
    SELECT *
    FROM shootouts
    LIMIT 5;
""")

print_r(crsr)

+----------+-------------+---------------+
| match_id |   winner    | first_shooter |
+----------+-------------+---------------+
|   6649   |   Taiwan    |               |
|   8111   | South Korea |               |
|   8282   |    Iraq     |               |
|   8300   | South Korea |               |
|   8303   |  Thailand   |               |
+----------+-------------+---------------+

In [16]:
crsr.execute("""
    SELECT *
    FROM results
    LIMIT 5;
""")

print_r(crsr)

+----------+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+
| match_id |    date    | home_team | away_team | home_score | away_score | tournament |  city   | country  | neutral |
+----------+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+
|    1     | 1872-11-30 | Scotland  |  England  |     0      |     0      |  Friendly  | Glasgow | Scotland |    0    |
|    2     | 1873-03-08 |  England  | Scotland  |     4      |     2      |  Friendly  | London  | England  |    0    |
|    3     | 1874-03-07 | Scotland  |  England  |     2      |     1      |  Friendly  | Glasgow | Scotland |    0    |
|    4     | 1875-03-06 |  England  | Scotland  |     2      |     2      |  Friendly  | London  | England  |    0    |
|    5     | 1876-03-04 | Scotland  |  England  |     3      |     0      |  Friendly  | Glasgow | Scotland |    0    |
+----------+------------+-----------+-----------+------------+------------+------------+---------+----------+---------+

In [17]:
crsr.execute("""
    SELECT *
    FROM goalscorers
    LIMIT 5;
""")

print_r(crsr)

+----------+-----------+------------------+--------+----------+---------+
| match_id |   team    |      scorer      | minute | own_goal | penalty |
+----------+-----------+------------------+--------+----------+---------+
|   439    |  Uruguay  | José Piendibene  |  44.0  |    0     |    0    |
|   439    |  Uruguay  | Isabelino Gradín |  55.0  |    0     |    0    |
|   439    |  Uruguay  | Isabelino Gradín |  70.0  |    0     |    0    |
|   439    |  Uruguay  | José Piendibene  |  75.0  |    0     |    0    |
|   441    | Argentina |  Alberto Ohaco   |  2.0   |    0     |    0    |
+----------+-----------+------------------+--------+----------+---------+

In [18]:
"""
Question 4:
Create a query that identifies which teams have won a penalty 
shootout after a 1-1 draw.
"""
crsr.execute("""
    SELECT winner, COUNT(*) AS "Drawn Game Penalty Wins"
    FROM shootouts s
    JOIN results r
    ON r.match_id = s.match_id
    WHERE r.home_score = 1 AND r.away_score = 1
    GROUP BY winner;
""")

print_r(crsr)

+-------------------------+-------------------------+
|         winner          | Drawn Game Penalty Wins |
+-------------------------+-------------------------+
|        Abkhazia         |            1            |
|         Algeria         |            2            |
|         Angola          |            2            |
|   Antigua and Barbuda   |            1            |
|        Argentina        |            6            |
|         Bahrain         |            1            |
|       Bangladesh        |            1            |
|        Barbados         |            1            |
|     Basque Country      |            1            |
|         Belarus         |            1            |
|         Belgium         |            1            |
|          Benin          |            2            |
|        Botswana         |            2            |
|         Brazil          |            3            |
|        Bulgaria         |            1            |
|      Burkina Faso       |            6            |
|         Canada          |            1            |
|          Chad           |            1            |
|          Chile          |            1            |
|        China PR         |            3            |
|        Colombia         |            3            |
|       Costa Rica        |            2            |
|         Croatia         |            4            |
|          Cuba           |            1            |
|         Cyprus          |            2            |
|     Czechoslovakia      |            1            |
|        DR Congo         |            1            |
|         Denmark         |            1            |
|          Egypt          |            2            |
|      Ellan Vannin       |            2            |
|         England         |            1            |
|        Eswatini         |            3            |
|        Ethiopia         |            3            |
|          Fiji           |            1            |
|         France          |            1            |
|         Gambia          |            1            |
|         Germany         |            4            |
|          Ghana          |            2            |
|        Greenland        |            1            |
|       Guadeloupe        |            1            |
|        Guatemala        |            1            |
|         Guinea          |            2            |
|         Guyana          |            1            |
|        Honduras         |            2            |
|         Iceland         |            1            |
|          India          |            1            |
|          Iran           |            5            |
|          Iraq           |            4            |
|          Italy          |            4            |
|       Ivory Coast       |            3            |
|          Japan          |            2            |
|          Kenya          |            4            |
|         Kuwait          |            2            |
|         Latvia          |            3            |
|         Lesotho         |            1            |
|         Malawi          |            2            |
|        Malaysia         |            2            |
|          Mali           |            5            |
|       Martinique        |            3            |
|        Mauritius        |            1            |
|         Mexico          |            4            |
|         Morocco         |            1            |
|       Mozambique        |            1            |
|         Namibia         |            3            |
|      New Caledonia      |            1            |
|         Nigeria         |            3            |
|       North Korea       |            1            |
|     Northern Cyprus     |            1            |
|    Northern Ireland     |            1            |
|          Oman           |            2            |
|         Padania         |            2            |
|         Panama          |            4            |
|        Paraguay         |            1            |
|         Poland          |            1            |
|        Portugal         |            1            |
|          Qatar          |            2            |
|         Romania         |            1            |
|         Russia          |            2            |
|         Rwanda          |            1            |
|  Saint Kitts and Nevis  |            2            |
|      Saudi Arabia       |            1            |
|        Scotland         |            1            |
|         Senegal         |            1            |
|         Serbia          |            1            |
|       Seychelles        |            1            |
|        Singapore        |            1            |
|        Slovakia         |            1            |
|      South Africa       |            4            |
|       South Korea       |            7            |
|          Spain          |            3            |
|        Sri Lanka        |            1            |
|          Sudan          |            1            |
|         Sweden          |            3            |
|       Switzerland       |            1            |
|          Syria          |            1            |
|         Taiwan          |            1            |
|        Tanzania         |            1            |
|        Thailand         |            1            |
|          Togo           |            1            |
|   Trinidad and Tobago   |            2            |
|         Tunisia         |            4            |
|         Turkey          |            1            |
|         Uganda          |            3            |
|         Ukraine         |            1            |
|  United Arab Emirates   |            3            |
| United Koreans in Japan |            2            |
|         Uruguay         |            7            |
|         Vietnam         |            1            |
|    Vietnam Republic     |            1            |
|     Western Armenia     |            1            |
|      Western Isles      |            1            |
|         Zambia          |            1            |
|        Zanzibar         |            1            |
|        Zimbabwe         |            4            |
|          Åland          |            1            |
+-------------------------+-------------------------+

In [19]:
"""
Question 5: 
Create a query that identifies the top goal scorer by tournament, and
what percentage that equates to for all goals scored in the tournament.
"""

# Calculate Tournament goals to calculate percentage
# Calculate Scorer goals for maxes

crsr.execute("""
    WITH 
    tournament_goals AS (
        SELECT r.tournament, COUNT(*) AS total_goals
        FROM goalscorers gs
        JOIN results r
        ON r.match_id = gs.match_id
        GROUP BY r.tournament
    ), 
    scorer_goals AS (
        SELECT r.tournament, gs.scorer, COUNT(*) AS scorer_goals
        FROM goalscorers gs
        JOIN results r
        ON r.match_id = gs.match_id
        GROUP BY r.tournament, gs.scorer
)
    SELECT 
        sg.tournament,
        sg.scorer, 
        ROUND((CAST(MAX(sg.scorer_goals) AS FLOAT) / tg.total_goals) * 100.0, 3) AS "Goal Percentage",
        MAX(sg.scorer_goals) as "Number of goals"
    FROM scorer_goals sg
    JOIN tournament_goals tg
    ON sg.tournament = tg.tournament
    GROUP BY sg.tournament
""")
print_r(crsr)

+--------------------------------+-------------------------+-----------------+-----------------+
|           tournament           |         scorer          | Goal Percentage | Number of goals |
+--------------------------------+-------------------------+-----------------+-----------------+
|         AFC Asian Cup          |        Ali Daei         |      1.416      |       14        |
|     African Cup of Nations     |      Samuel Eto'o       |      1.019      |       18        |
|           Baltic Cup           |     Ēriks Pētersons     |      3.93       |        9        |
|   British Home Championship    |       Geoff Hurst       |     12.121      |        4        |
| CONMEBOL–UEFA Cup of Champions |    Claudio Caniggia     |     14.286      |        1        |
|       Confederations Cup       |    Cuauhtémoc Blanco    |      2.128      |        9        |
|          Copa América          | Norberto Doroteo Méndez |      0.636      |       17        |
|         FIFA World Cup         |     Miroslav Klose      |      0.588      |       16        |
|  FIFA World Cup qualification  |       Carlos Ruiz       |      0.172      |       39        |
|            Gold Cup            |     Landon Donovan      |      1.641      |       18        |
|       NAFC Championship        |    Luis de la Fuente    |      30.0       |        3        |
|      Oceania Nations Cup       |                         |      8.989      |       48        |
|           UEFA Euro            |    Cristiano Ronaldo    |      1.689      |       14        |
|    UEFA Euro qualification     |    Cristiano Ronaldo    |      0.515      |       41        |
|      UEFA Nations League       |   Aleksandar Mitrović   |      1.182      |       14        |
+--------------------------------+-------------------------+-----------------+-----------------+

In [20]:
"""
Additional 
1. Create an additional column that flags records with data quality issues
2. Resolve the identified quality issues
"""

# Empty or duplicate values, if so, set column True

crsr.execute("""
    ALTER TABLE results ADD COLUMN quality_flag INTEGER DEFAULT 0;
""")

crsr.execute("""
    UPDATE results
    SET quality_flag = 1
    WHERE 
        home_score IS NULL OR 
        away_score IS NULL OR 
        tournament IS NULL OR 
        city IS NULL OR 
        country is NULL OR 
        neutral is NULL;
""")

crsr.execute("""
    UPDATE results 
    SET quality_flag = 1
    WHERE rowid NOT IN (
         SELECT MIN(rowid)
         FROM results
         GROUP BY date, home_team, away_team, home_score, away_score, tournament, city, country, neutral
    );
""")


crsr.execute("""
    ALTER TABLE shootouts ADD COLUMN quality_flag INTEGER DEFAULT 0;
""")

# We can have multiple shootouts
crsr.execute("""
    UPDATE shootouts
    SET quality_flag = 1
    WHERE 
        match_id IS NULL OR 
        winner IS NULL OR 
        first_shooter IS NULL; 
""")

crsr.execute("""
    ALTER TABLE goalscorers ADD COLUMN quality_flag INTEGER DEFAULT 0;
""")

crsr.execute("""
    UPDATE goalscorers 
    SET quality_flag = 1
    WHERE 
        team IS NULL OR 
        scorer IS NULL OR 
        minute IS NULL OR 
        own_goal IS NULL OR 
        penalty is NULL; 
""")

crsr.execute("""
    UPDATE goalscorers 
    SET quality_flag = 1
    WHERE rowid NOT IN (
         SELECT MIN(rowid)
         FROM goalscorers
         GROUP BY match_id, team, scorer, minute, own_goal, penalty
    );
""")

In [21]:
crsr.execute("""
    SELECT COUNT(*) as 'Flagged Records in Results'
    FROM results
    WHERE quality_flag == 1;
""")

print_r(crsr)

crsr.execute("""
    SELECT COUNT(*) as 'Flagged Records in Goalscorers'
    FROM goalscorers
    WHERE quality_flag == 1;
""")

print_r(crsr)

crsr.execute("""
    SELECT COUNT(*) as 'Flagged Records in Shootouts'
    FROM shootouts
    WHERE quality_flag == 1;
""")

print_r(crsr)

+----------------------------+
| Flagged Records in Results |
+----------------------------+
|             0              |
+----------------------------+
+--------------------------------+
| Flagged Records in Goalscorers |
+--------------------------------+
|              307               |
+--------------------------------+
+------------------------------+
| Flagged Records in Shootouts |
+------------------------------+
|             475              |
+------------------------------+

In [22]:
crsr.execute("""
    SELECT * 
    FROM goalscorers
    WHERE 
        team IS NULL OR 
        scorer IS NULL OR 
        minute IS NULL OR 
        own_goal IS NULL OR 
        penalty is NULL; 
""")

print_r(crsr)

+----------+---------------------+---------------------------+--------+----------+---------+--------------+
| match_id |        team         |          scorer           | minute | own_goal | penalty | quality_flag |
+----------+---------------------+---------------------------+--------+----------+---------+--------------+
|   4824   |       Taiwan        |       Yiu Cheuk Yin       |        |    0     |    0    |      1       |
|   5557   |        Ghana        |       Edward Acquah       |        |    0     |    0    |      1       |
|   5557   |        Ghana        |       Edward Acquah       |        |    0     |    0    |      1       |
|   5559   |      Ethiopia       |      Mengistu Worku       |        |    0     |    0    |      1       |
|   5559   |      Ethiopia       |      Mengistu Worku       |        |    0     |    0    |      1       |
|   5559   |      Ethiopia       |        Girma Tekle        |        |    0     |    0    |      1       |
|   5559   |      Ethiopia       |       Girma Tesfaye       |        |    0     |    0    |      1       |
|   5560   |        Sudan        |     Nasr Eddin Abbas      |        |    0     |    0    |      1       |
|   5560   |        Sudan        |     Nasr Eddin Abbas      |        |    0     |    0    |      1       |
|   5560   |        Sudan        | Ibrahim Yahia El-Kawarty  |        |    0     |    0    |      1       |
|   5560   |        Sudan        |  Abdelaziz Ibrahim Adam   |        |    0     |    0    |      1       |
|   5810   |      Suriname       |      Edmund Waterval      |        |    0     |    0    |      1       |
|   5810   |      Suriname       |      Edmund Waterval      |        |    0     |    0    |      1       |
|   5810   | Trinidad and Tobago |       Bobby Sookram       |        |    0     |    0    |      1       |
|   6792   |      Ethiopia       |        Girma Tekle        |        |    0     |    0    |      1       |
|   6792   |      Ethiopia       |     Luciano Vassallo      |        |    0     |    1    |      1       |
|   6792   |       Uganda        |        Polly Ouma         |        |    0     |    0    |      1       |
|   6798   |        Ghana        |         Osei Kofi         |        |    0     |    0    |      1       |
|   6798   |        Ghana        |         Osei Kofi         |        |    0     |    0    |      1       |
|   6798   |        Ghana        |     Wilberforce Mfum      |        |    0     |    0    |      1       |
|   6798   |        Congo        |       Jean Foutika        |        |    0     |    0    |      1       |
|   6799   |      DR Congo       |      Kidumu Mantantu      |        |    0     |    0    |      1       |
|   6799   |      DR Congo       |      Elias Tshimanga      |        |    0     |    0    |      1       |
|   6799   |       Senegal       |       Yatma Diouck        |        |    0     |    0    |      1       |
|   6801   |     Ivory Coast     |       Laurent Pokou       |        |    0     |    0    |      1       |
|   6801   |     Ivory Coast     |      Eustache Manglé      |        |    0     |    0    |      1       |
|   6801   |       Uganda        |        Denis Obua         |        |    0     |    0    |      1       |
|   6803   |        Ghana        |     Wilberforce Mfum      |        |    0     |    0    |      1       |
|   6803   |        Ghana        |     Wilberforce Mfum      |        |    0     |    0    |      1       |
|   6803   |        Ghana        |      Ibrahim Sunday       |        |    0     |    0    |      1       |
|   6803   |        Ghana        |        Frank Odoi         |        |    0     |    0    |      1       |
|   6803   |     Ivory Coast     |       Laurent Pokou       |        |    0     |    0    |      1       |
|   6803   |     Ivory Coast     |       Laurent Pokou       |        |    0     |    0    |      1       |
|   6803   |     Ivory Coast     |        Henri Konan        |        |    0     |    1    |      1       |
|   7017   |    United States    |       Peter Millar        |        |    0     |    0    |      1       |
|   7050   |      Suriname       |     Paul Ruben Corte      |        |    0     |    0    |      1       |
|   7050   |      Suriname       |     Paul Ruben Corte      |        |    0     |    0    |      1       |
|   7050   |      Suriname       |     Ruud Schoonhoven      |        |    0     |    0    |      1       |
|   7050   |      Suriname       |     Ruud Schoonhoven      |        |    0     |    0    |      1       |
|   7050   |      Suriname       |       Roy Vanenburg       |        |    0     |    0    |      1       |
|   7050   |      Suriname       |       Roy Vanenburg       |        |    0     |    0    |      1       |
|   7051   | Trinidad and Tobago |     Warren Archibald      |        |    0     |    0    |      1       |
|   7051   | Trinidad and Tobago |     Warren Archibald      |        |    0     |    0    |      1       |
|   7051   | Trinidad and Tobago |     Warren Archibald      |        |    0     |    0    |      1       |
|   7051   | Trinidad and Tobago |     Warren Archibald      |        |    0     |    0    |      1       |
|   7058   |     Costa Rica      |     Eduardo Chavarria     |        |    0     |    0    |      1       |
|   7058   |     Costa Rica      |        Mario Vega         |        |    0     |    0    |      1       |
|   7058   |     Costa Rica      |        Edgar Núñez        |        |    0     |    0    |      1       |
|   7058   |       Jamaica       |     Lascelles Dunkley     |        |    0     |    0    |      1       |
|   7065   |       Curaçao       |       Wouter Brokke       |        |    0     |    0    |      1       |
|   7065   |       Curaçao       |      Antonio Martina      |        |    0     |    0    |      1       |
|   7068   |        Haiti        |     Hugues Guillaume      |        |    0     |    0    |      1       |
|   7068   |        Haiti        |    Reynold Saint Surin    |        |    0     |    0    |      1       |
|   7081   |       Curaçao       |       Elcio Martina       |        |    0     |    0    |      1       |
|   7088   |      Cameroon       |         David Ayo         |        |    0     |    0    |      1       |
|   7088   |      Cameroon       |   Dieudonné Bassanguen    |        |    0     |    0    |      1       |
|   7088   |       Nigeria       |     Augustine Ofuokwu     |        |    0     |    0    |      1       |
|   7088   |       Nigeria       |       Peter Anieke        |        |    0     |    0    |      1       |
|   7088   |       Nigeria       |     Olumuyiwa Oshode      |        |    0     |    0    |      1       |
|   7091   |      Suriname       |      Jules Lagadeau       |        |    0     |    0    |      1       |
|   7091   |      Suriname       |      Jules Lagadeau       |        |    0     |    0    |      1       |
|   7091   |      Suriname       |     Stuart Oosthuizen     |        |    0     |    0    |      1       |
|   7091   |      Suriname       |        Edwin Schal        |        |    0     |    0    |      1       |
|   7091   |     El Salvador     | Mauricio Ernesto González |        |    0     |    0    |      1       |
|   7123   |      Ethiopia       |      Emmanuel Feseha      |        |    0     |    0    |      1       |
|   7123   |      Ethiopia       |       Zerga Geremew       |        |    0     |    0    |      1       |
|   7123   |      Ethiopia       |       Zerga Geremew       |        |    0     |    0    |      1       |
|   7123   |      Ethiopia       |       Asmeron Germa       |        |    0     |    0    |      1       |
|   7123   |      Ethiopia       |       Asmeron Germa       |        |    0     |    0    |      1       |
|   7123   |        Libya        |      Ahmed Ben Soed       |        |    0     |    0    |      1       |
|   7131   |      Guatemala      |      Édgar González       |        |    0     |    0    |      1       |
|   7131   |        Haiti        |        Joseph Obas        |        |    0     |    0    |      1       |
|   7314   |        Haiti        |       Guy François        |        |    0     |    0    |      1       |
|   7314   |     El Salvador     |       Elmer Acevedo       |        |    0     |    0    |      1       |
|   7314   |     El Salvador     | Mauricio Alonso Rodríguez |        |    0     |    0    |      1       |
|   8386   |        Benin        |      Damien Kamilou       |        |    0     |    0    |      1       |
|   8626   |       Tahiti        |      Erroll Bennett       |        |    0     |    0    |      1       |
|   8626   |       Tahiti        |      Alexis Tumahai       |        |    0     |    0    |      1       |
|   8626   |    New Caledonia    |       Roger Mandin        |        |    0     |    0    |      1       |
|   8627   |     New Zealand     |       Brian Turner        |        |    0     |    0    |      1       |
|   8627   |     New Zealand     |        Dave Taylor        |        |    0     |    0    |      1       |
|   8627   |     New Zealand     |        Geoff Brand        |        |    0     |    0    |      1       |
|   8627   |     New Zealand     |       Malcolm Bland       |        |    0     |    0    |      1       |
|   8627   |     New Zealand     |         Alan Vest         |        |    0     |    0    |      1       |
|   8627   |        Fiji         |      Terio Vakatawa       |        |    0     |    0    |      1       |
|   8630   |    New Caledonia    |         Jean Hmae         |        |    0     |    0    |      1       |
|   8630   |    New Caledonia    |         Jean Hmae         |        |    0     |    0    |      1       |
|   8630   |    New Caledonia    |       Segin Wayewol       |        |    0     |    0    |      1       |
|   8630   |    New Caledonia    |       Pierre Wacapo       |        |    0     |    0    |      1       |
|   8630   |       Vanuatu       |       Michael Dupuy       |        |    0     |    0    |      1       |
|   8631   |     New Zealand     |         Alan Vest         |        |    0     |    0    |      1       |
|   8631   |       Tahiti        |      Erroll Bennett       |        |    0     |    0    |      1       |
|   8632   |    New Caledonia    |       Segin Wayewol       |        |    0     |    0    |      1       |
|   8632   |    New Caledonia    |       Segin Wayewol       |        |    0     |    0    |      1       |
|   8634   |       Tahiti        |      Erroll Bennett       |        |    0     |    0    |      1       |
|   8635   |       Vanuatu       |       Alick Saurei        |        |    0     |    0    |      1       |
|   8635   |       Vanuatu       |       Jacky Valette       |        |    0     |    0    |      1       |
|   8635   |        Fiji         |     Josateki Kurivitu     |        |    0     |    0    |      1       |
|   8636   |     New Zealand     |        Alan Marley        |        |    0     |    0    |      1       |
|   8636   |     New Zealand     |      Colin Latimour       |        |    0     |    0    |      1       |
|   8636   |    New Caledonia    |        Jean Xowie         |        |    0     |    0    |      1       |
|   8638   |       Tahiti        |      Claude Carrara       |        |    0     |    0    |      1       |
|   8638   |       Tahiti        |       Harold Ng Fok       |        |    0     |    0    |      1       |
|   8638   |       Tahiti        |     Gilles Malinowski     |        |    0     |    0    |      1       |
|   8638   |       Tahiti        |     Roland de Marigny     |        |    0     |    0    |      1       |
|   8639   |     New Zealand     |       Malcolm Bland       |        |    0     |    0    |      1       |
|   8639   |     New Zealand     |       Brian Hardman       |        |    0     |    0    |      1       |
|   8639   |     New Zealand     |        Alan Marley        |        |    0     |    0    |      1       |
|   8639   |       Vanuatu       |      Raymond Valette      |        |    0     |    0    |      1       |
|   8640   |    New Caledonia    |       Gerald Delmas       |        |    0     |    0    |      1       |
|   8640   |    New Caledonia    |        Jean Xowie         |        |    0     |    0    |      1       |
|   8640   |       Vanuatu       |      Charles Galinie      |        |    0     |    0    |      1       |
|   8641   |     New Zealand     |        Dave Taylor        |        |    0     |    0    |      1       |
|   8641   |     New Zealand     |        Alan Marley        |        |    0     |    0    |      1       |
|   8899   |       Zambia        |       Moses Simwala       |        |    0     |    0    |      1       |
|  11419   |      Australia      |       Danny Moulis        |        |    0     |    0    |      1       |
|  11419   |      Australia      |        Ian Hunter         |        |    0     |    0    |      1       |
|  11419   |      Australia      |        Ian Hunter         |        |    0     |    0    |      1       |
|  11419   |      Australia      |         Paul Kay          |        |    0     |    0    |      1       |
|  11419   |      Australia      |         Paul Kay          |        |    0     |    0    |      1       |
|  11419   |      Australia      |      Eddie Krncevic       |        |    0     |    0    |      1       |
|  11419   |      Australia      |      Eddie Krncevic       |        |    0     |    0    |      1       |
|  11419   |      Australia      |      Eddie Krncevic       |        |    0     |    0    |      1       |
|  11420   |  Papua New Guinea   |                           |        |    0     |    0    |      1       |
|  11420   |  Papua New Guinea   |                           |        |    0     |    0    |      1       |
|  11420   |  Papua New Guinea   |                           |        |    0     |    0    |      1       |
|  11420   |  Papua New Guinea   |                           |        |    0     |    0    |      1       |
|  11420   |       Vanuatu       |                           |        |    0     |    0    |      1       |
|  11420   |       Vanuatu       |                           |        |    0     |    0    |      1       |
|  11420   |       Vanuatu       |                           |        |    0     |    0    |      1       |
|  11421   |        Fiji         |                           |        |    0     |    0    |      1       |
|  11421   |        Fiji         |                           |        |    0     |    0    |      1       |
|  11421   |        Fiji         |                           |        |    0     |    0    |      1       |
|  11421   |   Solomon Islands   |                           |        |    0     |    0    |      1       |
|  11424   |      Australia      |       Danny Moulis        |        |    0     |    0    |      1       |
|  11424   |      Australia      |       Arno Bertogna       |        |    0     |    0    |      1       |
|  11424   |      Australia      |        Vic Bozanic        |        |    0     |    0    |      1       |
|  11424   |      Australia      |        Ian Hunter         |        |    0     |    0    |      1       |
|  11424   |      Australia      |        Ian Hunter         |        |    0     |    0    |      1       |
|  11424   |      Australia      |        Ian Hunter         |        |    0     |    0    |      1       |
|  11424   |      Australia      |      Eddie Krncevic       |        |    0     |    0    |      1       |
|  11424   |      Australia      |       Peter Sharne        |        |    0     |    0    |      1       |
|  11424   |      Australia      |       Peter Sharne        |        |    0     |    0    |      1       |
|  11424   |      Australia      |       Peter Sharne        |        |    0     |    0    |      1       |
|  11424   |      Australia      |       Peter Sharne        |        |    0     |    0    |      1       |
|  11424   |  Papua New Guinea   |          Mouagi           |        |    0     |    0    |      1       |
|  11424   |  Papua New Guinea   |           Torea           |        |    0     |    0    |      1       |
|  11426   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11426   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11426   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11426   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11426   |       Vanuatu       |                           |        |    0     |    0    |      1       |
|  11426   |       Vanuatu       |                           |        |    0     |    0    |      1       |
|  11426   |       Vanuatu       |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11433   |   Solomon Islands   |                           |        |    0     |    0    |      1       |
|  11434   |      Australia      |      Eddie Krncevic       |        |    0     |    0    |      1       |
|  11435   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11435   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11435   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11435   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11435   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11435   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11435   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11435   |    New Caledonia    |                           |        |    0     |    0    |      1       |
|  11436   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11436   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11436   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11436   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11436   |       Tahiti        |                           |        |    0     |    0    |      1       |
|  11436   |       Tahiti        |                           |        |    0     |    0    |      1       |

In [23]:
crsr.execute("""
    SELECT * 
    FROM shootouts
    WHERE 
        match_id IS NULL OR 
        winner IS NULL OR 
        first_shooter IS NULL; 
""")

print_r(crsr)

+----------+--------------------------+---------------+--------------+
| match_id |          winner          | first_shooter | quality_flag |
+----------+--------------------------+---------------+--------------+
|   6649   |          Taiwan          |               |      1       |
|   8111   |       South Korea        |               |      1       |
|   8282   |           Iraq           |               |      1       |
|   8300   |       South Korea        |               |      1       |
|   8303   |         Thailand         |               |      1       |
|   8695   |          Ghana           |               |      1       |
|   8788   |          Guinea          |               |      1       |
|   8789   |        Mauritius         |               |      1       |
|   8830   |         Malaysia         |               |      1       |
|   8829   |        Singapore         |               |      1       |
|   8832   |         Thailand         |               |      1       |
|   8834   |         Myanmar          |               |      1       |
|   8868   |     Vietnam Republic     |               |      1       |
|   8906   |          Syria           |               |      1       |
|   8909   |         Algeria          |               |      1       |
|   9126   |          Qatar           |               |      1       |
|   9244   |        Indonesia         |               |      1       |
|   9251   |        Indonesia         |               |      1       |
|   9308   |         Morocco          |               |      1       |
|   9355   |         Tunisia          |               |      1       |
|   9384   |       South Korea        |               |      1       |
|   9591   |         Morocco          |               |      1       |
|   9742   |          Kenya           |               |      1       |
|   9774   |          Syria           |               |      1       |
|  10181   |         Malaysia         |               |      1       |
|  10190   |         Tunisia          |               |      1       |
|  10308   |        Argentina         |               |      1       |
|  10413   |          Zambia          |               |      1       |
|  10455   |           Iran           |               |      1       |
|  10472   |         Paraguay         |               |      1       |
|  10977   |           Mali           |               |      1       |
|  10978   |          Guinea          |               |      1       |
|  11066   |          Guinea          |               |      1       |
|  11095   |        Argentina         |               |      1       |
|  11411   |          Gambia          |               |      1       |
|  11461   |         Algeria          |               |      1       |
|  11606   |         Nigeria          |               |      1       |
|  11842   |         Morocco          |               |      1       |
|  11892   |         China PR         |               |      1       |
|  11931   |          Guinea          |               |      1       |
|  12056   |         Ethiopia         |               |      1       |
|  12416   |           Togo           |               |      1       |
|  12418   |       Burkina Faso       |               |      1       |
|  12454   |          Ghana           |               |      1       |
|  12527   |         Thailand         |               |      1       |
|  12529   |         Thailand         |               |      1       |
|  12688   |        Indonesia         |               |      1       |
|  12728   |          Kenya           |               |      1       |
|  12756   |         Senegal          |               |      1       |
|  12766   |          Gambia          |               |      1       |
|  12778   |           Mali           |               |      1       |
|  12837   |          Egypt           |               |      1       |
|  12844   |         Ethiopia         |               |      1       |
|  12947   |         Thailand         |               |      1       |
|  13032   |         Nigeria          |               |      1       |
|  13185   |       Ivory Coast        |               |      1       |
|  13190   |           Mali           |               |      1       |
|  13246   |       Sierra Leone       |               |      1       |
|  13249   |         Senegal          |               |      1       |
|  13283   |         Nigeria          |               |      1       |
|  13282   |         Cameroon         |               |      1       |
|  13310   |           Iraq           |               |      1       |
|  13410   |          Angola          |               |      1       |
|  13634   |          Kenya           |               |      1       |
|  13644   |          Ghana           |               |      1       |
|  13679   |          Kenya           |               |      1       |
|  13699   |       Saudi Arabia       |               |      1       |
|  13703   |          Zambia          |               |      1       |
|  13707   |          Kuwait          |               |      1       |
|  13705   |           Chad           |               |      1       |
|  13714   |          Gabon           |               |      1       |
|  13717   |         Cameroon         |               |      1       |
|  13937   |        Mozambique        |               |      1       |
|  13956   |          Egypt           |               |      1       |
|  14099   |         Bahrain          |               |      1       |
|  14107   |       Saudi Arabia       |               |      1       |
|  14138   |          Guinea          |               |      1       |
|  14164   |        Mozambique        |               |      1       |
|  14196   |          Kenya           |               |      1       |
|  14408   |          Egypt           |               |      1       |
|  14641   |          Angola          |               |      1       |
|  14687   |           Chad           |               |      1       |
|  14739   |           Mali           |               |      1       |
|  14740   |         Senegal          |               |      1       |
|  14857   |        Australia         |               |      1       |
|  14862   |       South Korea        |               |      1       |
|  14892   |         DR Congo         |               |      1       |
|  15013   |         Zimbabwe         |               |      1       |
|  15036   |          Gabon           |               |      1       |
|  15050   |         Ethiopia         |               |      1       |
|  15055   |       South Korea        |               |      1       |
|  15158   |         Nigeria          |               |      1       |
|  15168   |         Algeria          |               |      1       |
|  15175   |          Sweden          |               |      1       |
|  15222   |           Mali           |               |      1       |
|  15225   |          Guinea          |               |      1       |
|  15249   |          Canada          |               |      1       |
|  15344   |          Syria           |               |      1       |
|  15346   |           Iraq           |               |      1       |
|  15416   |         Ecuador          |               |      1       |
|  15442   |         Eswatini         |               |      1       |
|  15551   |          Gabon           |               |      1       |
|  15580   |           Iran           |               |      1       |
|  15582   |       Saudi Arabia       |               |      1       |
|  15753   |          Gabon           |               |      1       |
|  15755   |          Kenya           |               |      1       |
|  16130   |          Uganda          |               |      1       |
|  16133   |           Iraq           |               |      1       |
|  16171   |         Cameroon         |               |      1       |
|  16178   |          Uganda          |               |      1       |
|  16200   |         Nigeria          |               |      1       |
|  16210   |         Colombia         |               |      1       |
|  16226   |         Colombia         |               |      1       |
|  16340   |         Zimbabwe         |               |      1       |
|  16453   |       South Korea        |               |      1       |
|  16616   |          Uganda          |               |      1       |
|  16614   | Central African Republic |               |      1       |
|  16639   |         Cameroon         |               |      1       |
|  16640   |       Ivory Coast        |               |      1       |
|  16641   |         Senegal          |               |      1       |
|  16642   |       Ivory Coast        |               |      1       |
|  16838   |       South Korea        |               |      1       |
|  16840   |          Italy           |               |      1       |
|  16894   |      United States       |               |      1       |
|  16947   |      Czechoslovakia      |               |      1       |
|  16993   |           Fiji           |               |      1       |
|  17014   |          Egypt           |               |      1       |
|  17135   |       Ivory Coast        |               |      1       |
|  17140   |       Ivory Coast        |               |      1       |
|  17336   |        Martinique        |               |      1       |
|  17452   |          Japan           |               |      1       |
|  17494   |          Egypt           |               |      1       |
|  17613   |         China PR         |               |      1       |
|  17660   |          Uganda          |               |      1       |
|  17741   |       Switzerland        |               |      1       |
|  17793   |         Finland          |               |      1       |
|  17799   |        Argentina         |               |      1       |
|  18066   |         Bolivia          |               |      1       |
|  18068   |        Martinique        |               |      1       |
|  18076   |        Martinique        |               |      1       |
|  18284   |        Australia         |               |      1       |
|  18380   |          Guinea          |               |      1       |
|  18477   |       Burkina Faso       |               |      1       |
|  18580   |         Nigeria          |               |      1       |
|  18993   |         Tanzania         |               |      1       |
|  19041   |         Denmark          |               |      1       |
|  19044   |          Mexico          |               |      1       |
|  19091   |          Japan           |               |      1       |
|  19148   |          India           |               |      1       |
|  19236   |   Antigua and Barbuda    |               |      1       |
|  19297   |         Paraguay         |               |      1       |
|  19458   |     Solomon Islands      |               |      1       |
|  19611   |       Sierra Leone       |               |      1       |
|  19627   |         Cameroon         |               |      1       |
|  19626   |       Ivory Coast        |               |      1       |
|  19634   |         Zanzibar         |               |      1       |
|  19638   |         Honduras         |               |      1       |
|  19712   |         Tunisia          |               |      1       |
|  19757   |          Sweden          |               |      1       |
|  19858   |         Jamaica          |               |      1       |
|  19870   |         Suriname         |               |      1       |
|  19983   |        Martinique        |               |      1       |
|  20147   |         Ethiopia         |               |      1       |
|  20431   |          Sudan           |               |      1       |
|  20453   |         Croatia          |               |      1       |
|  20455   |         Croatia          |               |      1       |
|  20482   |       Saudi Arabia       |               |      1       |
|  20487   |           Iran           |               |      1       |
|  20488   |       Saudi Arabia       |               |      1       |
|  20496   |          Benin           |               |      1       |
|  20552   |          Russia          |               |      1       |
|  20739   |           Iraq           |               |      1       |
|  21041   |   Trinidad and Tobago    |               |      1       |
|  21259   |          Haiti           |               |      1       |
|  21261   |           Cuba           |               |      1       |
|  21330   |          Guinea          |               |      1       |
|  21401   |       South Korea        |               |      1       |
|  21402   |           Iran           |               |      1       |
|  21472   |       Burkina Faso       |               |      1       |
|  21473   |          Egypt           |               |      1       |
|  21486   |         DR Congo         |               |      1       |
|  21567   |         Hungary          |               |      1       |
|  21625   |         Belgium          |               |      1       |
|  21626   |         Morocco          |               |      1       |
|  21861   |        Indonesia         |               |      1       |
|  22028   |        Guatemala         |               |      1       |
|  22036   |        Guatemala         |               |      1       |
|  22054   |   United Arab Emirates   |               |      1       |
|  22315   |         Namibia          |               |      1       |
|  22412   |         Thailand         |               |      1       |
|  22419   |          Poland          |               |      1       |
|  22518   |         Eswatini         |               |      1       |
|  22545   |         Namibia          |               |      1       |
|  22551   |          Kenya           |               |      1       |
|  22559   |          Rwanda          |               |      1       |
|  22561   |          Zambia          |               |      1       |
|  22591   |         Namibia          |               |      1       |
|  22768   |           Togo           |               |      1       |
|  22880   |         Romania          |               |      1       |
|  22913   |       South Africa       |               |      1       |
|  22920   |         Cameroon         |               |      1       |
|  22950   |         Colombia         |               |      1       |
|  23031   |         Suriname         |               |      1       |
|  23215   |  British Virgin Islands  |               |      1       |
|  23217   |   Antigua and Barbuda    |               |      1       |
|  23242   |        Sri Lanka         |               |      1       |
|  23244   |         Senegal          |               |      1       |
|  23253   |          Angola          |               |      1       |
|  23255   |         Barbados         |               |      1       |
|  23323   |          France          |               |      1       |
|  23338   |          Egypt           |               |      1       |
|  23355   |         Lesotho          |               |      1       |
|  23469   |          Libya           |               |      1       |
|  23487   |         Lesotho          |               |      1       |
|  23619   |           Togo           |               |      1       |
|  23645   |   United Arab Emirates   |               |      1       |
|  23751   |          Uganda          |               |      1       |
|  23827   |         Ethiopia         |               |      1       |
|  23870   |          Egypt           |               |      1       |
|  23890   |       South Korea        |               |      1       |
|  23937   |         Eswatini         |               |      1       |
|  24506   |         Ynys Môn         |               |      1       |
|  24515   |         Guernsey         |               |      1       |
|  24570   |       North Korea        |               |      1       |
|  24571   |          Kuwait          |               |      1       |
|  24575   |       North Korea        |               |      1       |
|  24614   |          Angola          |               |      1       |
|  24755   |          Kenya           |               |      1       |
|  24756   |         Tanzania         |               |      1       |
|  24841   |         Ethiopia         |               |      1       |
|  24869   |        Martinique        |               |      1       |
|  24928   |          Canada          |               |      1       |
|  24933   |       South Korea        |               |      1       |
|  24945   |      United States       |               |      1       |
|  24967   |         Cameroon         |               |      1       |
|  24971   |          Cyprus          |               |      1       |
|  25000   |         Slovenia         |               |      1       |
|  25002   |       North Korea        |               |      1       |
|  25061   |       South Africa       |               |      1       |
|  25130   |         Belarus          |               |      1       |
|  25145   |          Serbia          |               |      1       |
|  25264   |       South Africa       |               |      1       |
|  25346   |           Iraq           |               |      1       |
|  25377   |           Iran           |               |      1       |
|  25394   |           Iran           |               |      1       |
|  25396   |           Iran           |               |      1       |
|  25475   |          Kenya           |               |      1       |
|  25478   |       South Africa       |               |      1       |
|  25477   |          Kenya           |               |      1       |
|  25496   |         Senegal          |               |      1       |
|  25612   |       Burkina Faso       |               |      1       |
|  25619   |          Niger           |               |      1       |
|  25640   |        Bangladesh        |               |      1       |
|  25651   |         Uruguay          |               |      1       |
|  25732   |          Benin           |               |      1       |
|  25740   |        Guadeloupe        |               |      1       |
|  25754   |        Mozambique        |               |      1       |
|  25777   |         Tunisia          |               |      1       |
|  25823   |          Ghana           |               |      1       |
|  25914   |          Malawi          |               |      1       |
|  26132   |      New Caledonia       |               |      1       |
|  26168   |          Malawi          |               |      1       |
|  26283   |         Algeria          |               |      1       |
|  26288   |         Algeria          |               |      1       |
|  26522   |          Rwanda          |               |      1       |
|  26523   |          Uganda          |               |      1       |
|  26638   |         Tunisia          |               |      1       |
|  26694   |        Kazakhstan        |               |      1       |
|  26706   |         Botswana         |               |      1       |
|  27075   |          Syria           |               |      1       |
|  27139   |          Angola          |               |      1       |
|  27173   |         Bahrain          |               |      1       |
|  27174   |          Japan           |               |      1       |
|  27178   |         China PR         |               |      1       |
|  27451   |         Ecuador          |               |      1       |
|  27452   |          Zambia          |               |      1       |
|  27525   |          Angola          |               |      1       |
|  27547   |         Thailand         |               |      1       |

In [24]:
crsr.execute("""
    DELETE FROM goalscorers 
    WHERE quality_flag == 1;
""")

crsr.execute("""
    DELETE FROM shootouts
    WHERE quality_flag == 1;
""")

crsr.execute("""
    SELECT COUNT(*) as 'Flagged Records in Goalscorers'
    FROM goalscorers
    WHERE quality_flag == 1;
""")

print_r(crsr)

crsr.execute("""
    SELECT COUNT(*) as 'Flagged Records in Shootouts'
    FROM shootouts
    WHERE quality_flag == 1;
""")

print_r(crsr)

+--------------------------------+
| Flagged Records in Goalscorers |
+--------------------------------+
|               0                |
+--------------------------------+
+------------------------------+
| Flagged Records in Shootouts |
+------------------------------+
|              0               |
+------------------------------+